<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863380586183-m9e0cqhaeigjml1fpiv1p6mhso7spq9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863380586183-m9e0cqhaeigjml1fpiv1p6mhso7spq9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863380586183-3lbrkjmfjgn4of2hu7nse7n7jqioksoj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbteGgwCddLja_6f3gxftvo5oYnyCIo-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>863380586183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orangemantra.app</string>
	<key>PROJECT_ID</key>
	<string>meetupnow-76b31</string>
	<key>STORAGE_BUCKET</key>
	<string>meetupnow-76b31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863380586183:ios:a49a1a01a4d7688d6bc8e2</string>
</dict>
</plist>